


body {
  overflow-x: hidden;
  margin: auto;
  background-image: url(./images/IMG_6282.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
}
html{
  scroll-behavior: smooth;
}
p {
  font-family: 'Noto Sans JP', sans-serif;
}

/* nav bar */
.avatar {

  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.nav-item {
  padding-left: 20px;
  margin-right: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}
.x {
  color: rgba(47, 38, 216, 0.7);
  font-size: 50px;
  font-family: 'Noto Sans JP', sans-serif;
}
.navbar-brand {
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

.nav-link.active,
.nav-link:hover {
color: red!important;
}

/* JumboTron */
.jumbotron {
background-color: transparent;
height: 100vh;
font-family: 'Noto Sans JP', sans-serif;
}

.jumbotron h1 {
  margin-top: 30px;
  
}

/* Work Section */
.row {
  background-color: rgb(0, 0, 0, .5); 

}

.container img {
  border-radius: 50px;
}

/* About Section */
.about {
  height: 300px;
  background-color: transparent;
}

.card {
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans JP', sans-serif;
}
