body {
  margin: auto;
  background-image: url(./images/IMG_6282.jpg);
  background-size: cover;
  background-attachment: fixed;
}



.avatar {

  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.jumbotron {
background-color: transparent;
}

.cardContainer {
  margin-top: 20px;  
}
.card {
  margin: 0 auto;
  border: none;
  background-color: transparent;
  color: white;
}

.about {
  height: 300px;
  background-color: transparent;
}
