
:root {
--base-dark:#003366;
}
 

body {
  overflow-x: hidden;
  margin: auto;
  background-image: url(./images/IMG_6282.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
}
html{
  scroll-behavior: smooth;
}
p {
  font-family: 'Noto Sans JP', sans-serif;
}

/* nav bar */
.avatar {

  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.nav-item {
  padding-left: 20px;
  margin-right: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar-brand {
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}
.nav-link{
  color: var(--base-dark)!important;
}

.nav-link.active,
.nav-link:hover {
color: red!important;
}

/* JumboTron */
.jumbotron {
background-color: transparent;
height: 100vh;
font-family: 'Noto Sans JP', sans-serif;
color: var(--base-dark);
}

.jumbotron h1 {
  margin-top: 30px;
  
}

/* Work Section */
.row-semiTrans {
  background-color: rgb(0, 0, 0, .5); 
}
#work {
  margin: auto;
}

.container img {
  border-radius: 50px;
}

.btn {
  box-shadow: inset 0px 5px 10px 0px rgb(63, 61, 61, .5)
}


#about {
  margin: auto;

}

.semiTrans-light{
  background-color: rgb(255, 255, 255, .3);
}

.card {
  background-color: transparent;
}

.card-body p{
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans JP', sans-serif;
  color:  var(--base-dark);
}

/* skills and contact */

#skills {
  margin: auto;
}
#contact {
  margin: auto;
}

/* Footer */

footer {
  background-color: rgb(0, 0, 0, .5);
padding: 5px;
}
p.copyright {
  color: var(--base-dark);
}

